// header

header 
    background-image: url(../img/Image_Sass_P1/hero-bg.jpg) //chercher l'image
    background-position-x: -10em //bouger l'image sur l'axe des x 
    .div_header
        background-color: rgba(255, 255, 255, 0.515) // changer la couleur de l'image 
        height: 35em //augmente la hauteur de l'image
        div
            padding-left: 20em //se deplacer de la gauche
            padding-top: 17em // se deplacer a partir du haut a l'interieur de l'image
            .button_header
                border-radius: 0.2em //arrondi le button
                color: white
                background-color: #106EEA
                border: none  
                height: 2em
                width: 8em
                
                
                    
                  
            
//  section 1
.section_1
    margin-top: 3em
    
    .div_section1
        text-align: center //centré le texte 
        background-color: #F8F9FB
        span
            width: 13em //rajoute de la largeur a mon background
            height: 2.5em //rajoute de la hauteur a mon background
            padding-top: 0.7em // fait descendre le text pour centrer 
            
// card  
.div_card
    margin-top: 2em //espacer ma section du haut 
    display: flex // mettre en ligne les card 
    margin-left: 15em // recule toute les card a partir de la gauche 
    height: 15em // je lui donne une hauter pour chaque card
    width: 63em // je lui donne une largeur pour chaque card
    border-radius: 0.5em
    .parti_card
        i
    
        
            

    