// header

header 
    background-image: url(../img/Image_Sass_P1/hero-bg.jpg) //chercher l'image
    background-position-x: -10em //bouger l'image sur l'axe des x 
    .div_header
        background-color: rgba(255, 255, 255, 0.515) // changer la couleur de l'image 
        height: 35em //augmente la hauteur de l'image
        div
            padding-left: 20em //se deplacer de la gauche
            padding-top: 17em // se deplacer a partir du haut a l'interieur de l'image
            .button_header
                border-radius: 0.2em //arrondi le button
                color: white
                background-color: #106EEA
                border: none  
                height: 2em
                width: 8em
                
                
                    
                  
            
//  section 1
.section_1
    margin-top: 3em
    .div_section1
        text-align: center //centré le texte 

   
.div_card
    display: flex
    margin-left: 10em

   
    